<a href="https://colab.research.google.com/github/JayeshDabholkar/Python_Lists/blob/main/Python_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# List is a collection of items
array = [10, 44, 14, 94, 65]

In [ ]:
print(array)

[10, 44, 14, 94, 65]

In [ ]:
print(type(array))

<class 'list'>

In [ ]:
bag_of_items = [34, 15, "Hello kitty", 1.35, True, ["YO", None]]
print(bag_of_items)

[34, 15, 'Hello kitty', 1.35, True, ['YO', None]]

In [ ]:
array = [10, 44, 14, 94, 65]
print(len(array))

5

In [ ]:
# index  0   1   2   3   4
array = [10, 44, 14, 94, 65]

# indices / indexes ( positions ) start from 0

In [ ]:
array[0]

10

In [ ]:
#index  0  1  2  3  4
array = [10, 44, 14, 94, 65]

n = len(array) # length = 5

# Last element
print(array[n-1]) # array[4]

# List has N elements
# Index starts form 0
# Index will end at N-1
# Becasue 0 to N-1 are N elements in total

65

In [ ]:
#index   0   1   2   3   4
array = [10, 44, 14, 94, 65]
#negin   -5  -4  -3  -2  -1

# positive index : 0 to n-1
# negative index : -1 to -n

In [ ]:
array[-1]

65

In [ ]:
# updating data
array = [10, 44, 14, 94, 65]

array[2] = 50

print(array)

[10, 44, 50, 94, 65]

In [ ]:
# inserting data
a = [5, 6, 1]

a.append(9)
print(a)

[5, 6, 1, 9]

In [ ]:
# Iterating over lists
x = [1, 2, 3, 4, 5]
# Print the squares of all elements in this list
for i in x:
  print(i**2, end = " ")

1 4 9 16 25

In [ ]:
# Print only the odd numbers in this list
for i in x :
  if i % 2 == 0 :
    print(i, end = " ")

2 4

In [ ]:
# Given a list of numbers, compute their

# sum
# min
# max
# average

In [ ]:
#sum
sum = 0
for i in x :
  sum += i
print(sum)

15

In [ ]:
#avg
avg = sum/len(x)
print(avg)

3.0

In [ ]:
#max

mx = float("-inf")

for i in x :
  if i > mx :
    mx = i
print(mx)

5

In [ ]:
# min
import math

mn = math.inf # -math.inf

for i in x :
  if i < mn :
    mn = i

print(mn)

1

In [ ]:
# Removing Data

In [ ]:
# remove - Removes the first occurence
array = [10, 44, 14, 94, 65]
array.remove(14)
print(array)

[10, 44, 94, 65]

In [ ]:
# pop - Pops the value at the given index. If no index is given, it pops the last element.
array = [10, 44, 14, 94, 65]
array.pop(1)
print(array)

[10, 14, 94, 65]

In [ ]:
# del - keyword which allows us to delete the specified value
array = [10, 44, 14, 94, 65]
del array
print(array)

NameError: ignored

In [ ]:
# Split is an inbuilt function defined on all strings.
# It splits the string and gives you a list
# By default, it splits at space

a = "Hi my name is Jay"
b = a.split()
b

['Hi', 'my', 'name', 'is', 'Jay']

In [ ]:
# Linear Search
array = [10, 44, 14, 5, 94, 65]

x = 5

for i in range(len(array)) :
  if array[i] == x :
    print(i)

print("Not found")

3
Not found

In [ ]:
# Use a flag variable

arr = [6, 9, 2, 5, 3, 0, 1]

x = 10
found = False

for i in range(len(arr)) :
  if arr[i] == x :
    print(i)
    found = True
    break

if found == False :
  print("Not found")

Not found

In [ ]:
# Given list and X, save index of first occurence of x in list

arr = [6, 9, 2, 5, 3, 0, 1]

x = 5
idx = -1

for i in range(len(arr)) :
  if arr[i] == x :
    idx = i
    break

if idx == -1 :
  print("Not in list")
else :
  print(idx)

3

In [ ]:
# Given list and X, print count of x in list

arr = [6, 9, 2, 5, 3, 0, 1]

x = 5
cnt = 0

for i in range(len(arr)) :
  if arr[i] == x :
    cnt = cnt + 1

print(cnt)

1

In [ ]:
# List Slicing

# Given the runs made by Sachin in a list, find the runs made in:

# odd indexed matches (1st, 3rd, 5th, 7th, ...)
# even indexed matches (2nd, 4th, 6th ...)
# first 5 matches
# last 5 matches

In [ ]:
runs = [100, 89, 0, 70, 23, 56, 121, 43, 58, 90]

In [ ]:
# Odd indexed matches
odd_runs = []
for i in range(1, len(runs), 2):
    odd_runs.append(runs[i])

print(odd_runs)

[89, 70, 56, 43, 90]

In [ ]:
#slicing method
# Odd indexed scores
odd_runs = runs[1:len(runs):2]
print(odd_runs)

[89, 70, 56, 43, 90]

In [ ]:
# Even indexed matches
even_runs = []

for i in range(0, len(runs), 2):
    even_runs.append(runs[i])

print(even_runs)

[100, 0, 23, 121, 58]

In [ ]:
#slicing method
# Even indexed scores
eve_runs = runs[0:len(runs):2]
print(eve_runs)

[100, 0, 23, 121, 58]

In [ ]:
# First 5 matches
first_5 = runs[0:5:1]
print(first_5)

[100, 89, 0, 70, 23]

In [ ]:
# Slicing examples
a = [10, 20, 30, 40, 50, 60, 70]

In [ ]:
print(a[4:])

[50, 60, 70]

In [ ]:
print(a[:4])

[10, 20, 30, 40]

In [ ]:
print(a[::2])

[10, 30, 50, 70]

In [ ]:
print(a[2::4])

[30, 70]

In [ ]:
print(a[2::4])

[30, 70]

In [ ]:
# Negative steps
a = [5, 9, 2, 8, 6, 4]
print(a[4:1:-1])
# start=4, end=1, step= -1

[6, 8, 2]

In [ ]:
# Map function

# Calls a function on all items in an iterable

# Syntax
# map(function, iterable)

# iterables -> list, range, string, dictionary, set, tuple

In [ ]:
a = [5, 9, 1, 4, 3]
def square(x) :
  return x ** 2

ls = []

for i in a :
  ls.append( square(i) )

print(ls)

[25, 81, 1, 16, 9]

In [ ]:
def square(x) :
  return x ** 2

ls = list(map(square, a))

print(ls)

[25, 81, 1, 16, 9]

In [ ]:
# take this list as input : l = 10 5 2 6

s = input() # s = '10 5 2 6'
l = s.split() # l = ["10", "5", "2", "6"]

ls = list(map(int, l))
print(ls)

10 5 2 6
[10, 5, 2, 6]

In [ ]:
# input().split() -> takes input, converts it to a list

ls = list(map(int, input().split()))
print(ls)

10 5 2 6
[10, 5, 2, 6]

In [1]:
# extend
a = []
b = [120, 30, 50]
a.extend(b)
print(a)

[120, 30, 50]

In [2]:
# append
a = []
b = [120, 30, 50]
a.append(b)
print(a)

[[120, 30, 50]]

In [4]:
# 2D list
a = [
      [10, 20], # Row 0
      [30, 40], # Row 1
      [50, 60], # Row 2
      [70, 80], # Row 3
      [90, 100], # Row 4
]

# a is a list of lists ( 2D list )
# each list inside a represents a row
print(a)

[[10, 20], [30, 40], [50, 60], [70, 80], [90, 100]]

In [5]:
print(a[0]) # row 0

print(a[1]) # row 1

print(a[0][1]) # 1th element of 0th row

[10, 20]
[30, 40]
20

In [6]:
# Number of rows inside the 2D list
print("Number of rows", len(a))

# Number of cols inside the 2D list ( only for same columns in each row )
print("Number of cols", len(a[0]))

Number of rows 5
Number of cols 2

In [7]:
# Given a 2D Array, print the sum of each row separately.
a = [[10, 20], [30, 40], [50, 60]]

# 30
# 70
# 110

for i in range(len(a)) :

  row = a[i] # ith row in 2D list
  # print(sum(row))

  sum = 0

  for j in range(len(row)) :

    col = row[j] # jth col in ith row
    sum = sum + col
    # sum = sum + a[i][j]
    
  print(sum)

30
70
110

In [8]:
# Maximum of each row
a = [
    [10, 20],
    [30, 40],
    [50, 60],
]

# print( list(map(max, a)) )

for row in a :
  # print(max(row)) # Just like max there is min, sum, avg, count

  mx = float("-inf")
  for col in row :
    if col > mx :
      mx = col
  print(mx)

20
40
60

In [9]:
# Sum of two matrices
A = [
    [2, 9],
    [8, 7],
    [0, 1]
]

B = [
    [10, -5],
    [-3, 1],
    [3, 0]
]

C = []

rows = len(A) # no of rows in A, B
cols = len(A[0]) # no of cols in A, B

for i in range(rows) :

  row = []

  for j in range(cols) :
    
    val = A[i][j] + B[i][j]
    row.append(val)

  C.append(row)

print(C)

[[12, 4], [5, 8], [3, 1]]

In [10]:
# Swap two numbers
A = 3
B = 10

A, B = B, A

print(A, B)

10 3

In [11]:
# Transpose of matrices
A = [
    [1, 2, 3],
    [4, 5, 6]
]

T = []

rows = len(A)
cols = len(A[0])

for col in range(cols) :

  # Put all column values inside a list
  ls = []

  for row in range(rows) :
    ls.append(A[row][col])
  
  # Put list inside transpose
  T.append(ls)

print(T)

[[1, 4], [2, 5], [3, 6]]